@import '../../../../styles/palette';

$icon-button__size: 40px;
$icon-button__fill: $neutral-10;
$icon-button__fill--active: $neutral-3;
$icon-button__background__height: 100%;
$icon-button__background__background-color--active: $neutral-10;
$icon-button__background__border-radius: 2px;
$icon-button__background__background-color--press: transparentize($neutral-10, 0.75);

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: $icon-button__size;
  height: $icon-button__size;
  position: relative;
  transition: background-color 0.4s ease-in;
  cursor: pointer;
  &__background {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    height: $icon-button__background__height;
    border-radius: $icon-button__background__border-radius;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg * {
      fill: $icon-button__fill;
    }
  }
  &--active {
    .icon-button__background {
      background-color: $icon-button__background__background-color--active;
    }
    .icon-button__icon  svg * {
      fill: $icon-button__fill--active;
    }
  }
  &:active {
    .icon-button__background {
      background-color: $icon-button__background__background-color--press;
      transition: background-color 0s ease;
    }
  }
}
