@import '../../../../styles/constants';
@import '../../../../styles/palette';

$track-editing-modal__voice-dropdown__margin: $margin-l;
$track-editing-modal__voice-dropdown__label__margin: 0;
$track-editing-modal__voice-dropdown__list__width: 128px;
$track-editing-modal__delete-button__background-color: $error-5;

.track-editing-modal {
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    &__voice-dropdown {
      margin-bottom: $track-editing-modal__voice-dropdown__margin;
      &__label {
        margin-bottom: $track-editing-modal__voice-dropdown__label__margin;
      }
      &__list {
        width: $track-editing-modal__voice-dropdown__list__width;
      }
    }
    &__delete-button {
      background-color: $track-editing-modal__delete-button__background-color;
    }
  }
}
