@import '../../../../styles/palette';

.app {
  background-color: $almostblack;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
