language: node_js
notifications:
  email:
    recipients:
      - nickjohnson.dev@gmail.com
node_js: 10
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn run lint
  - yarn run build
