@import '../../styles/palette';

$zen-position-marker__background-color: $zen-neutral-8;

.zen-position-marker {
  display: block;
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $zen-position-marker__background-color;
  opacity: 0.25;
  pointer-events: none;
}
