@import '../../../../styles/constants';
@import '../../../../styles/palette';

.track-sequence-note {
  background-color: $almostblack;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}
