@import '../../../../styles/constants';
@import '../../../../styles/palette';

.song-info-modal {
  &__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
  &__bpm-dropdown {
    margin-bottom: $margin-m;
  }
  &__measure-count-ticker {
    align-items: center;
    align-self: flex-start;
    border: 1px solid $neutral-10;
    border-radius: 4px;
    display: flex;
    height: 48px;
    overflow: hidden;
    &__minus {
      border-right: 1px solid $neutral-10;
      padding: $margin-m;
      &--disabled {
        opacity: 0.75;
        pointer-events: none;
      }
    }
    &__value {
      padding: $margin-m;
    }
    &__plus {
      border-left: 1px solid $neutral-10;
      padding: $margin-m;
      &--disabled {
        opacity: 0.75;
        pointer-events: none;
      }
    }
  }
}
