@import '../../../../styles/palette';

$key__height: 36px;
$key__font-size: 1.0em;
$key--ebony__color: white;
$key--ebony__background-color: transparentize($almostwhite, 0.75);
$key--ivory__color: $almostblack;
$key--ivory__background-color: $almostwhite;
$key--ivory__divider-color: $midgray;

.key {
  align-items: center;
  display: flex;
  height: $key__height;
  flex-shrink: 0;
  justify-content: center;
  margin-bottom: 2px;
  margin-top: 2px;
  position: relative;
  font-size: $key__font-size;
  cursor: pointer;
  &__label {
    display: none;
  }
  &--a, &--b, &--c, &--d, &--e, &--f, &--g {
    color: $key--ivory__color;
    background-color: $key--ivory__background-color;
    box-shadow: 2px 0 0 transparentize($almostwhite, 0.5);
  }
  &--asharp, &--gsharp, &--fsharp, &--dsharp, &--csharp {
    color: $key--ebony__color;
    background-color: $key--ebony__background-color;
    box-shadow: 2px 0 0 transparentize($almostwhite, 0.9);
  }
  &--c &__label {
    display: block;
  }
}
