@import '../../../../styles/palette';

$note__point__size: 40px;
$note__point__fill__z-index--active: 300;
$note__point__fill__size: 24px;
$note__point__fill__background-color: $emerald-2;
$note__point__fill__background-color--hover: $primary-7;
$note__point__fill__box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
$note__point__fill--active__background-color: $accent-6;
$note__point__fill--z-index: 150;
$note__point-connector__width: 1px;
$note__point-connector__height: 12px;
$note__point-connector__top: 14px;
$note__point-connector__left: 20px;
$note__point-connector__background-color: $emerald-3;
$note__point-connector__background-color--hover: $primary-7;
$note__point-connector--active__background-color: $accent-6;
$note__point-connector--z-index: 100;
$note__point-connector--z-index--active: 200;

.note {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  &__point {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: $note__point__size;
    height: $note__point__size;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $note__point__fill--z-index;
    pointer-events: all;
    overflow: hidden;
    &__fill {
      width: $note__point__fill__size;
      height: $note__point__fill__size;
      background-color: $note__point__fill__background-color;
      border-radius: 2px;
      // box-shadow: $note__point__fill__box-shadow;
    }
  }
  &__point-connector {
    width: $note__point-connector__width;
    height: $note__point-connector__height;
    position: absolute;
    top: $note__point-connector__top;
    left: $note__point-connector__left;
    z-index: $note__point-connector--z-index;
    background-color: $note__point-connector__background-color;
    transform-origin: left center;
  }
  &:hover:not(.note--active) {
    .note__point__fill {
      background-color: $note__point__fill__background-color--hover;
    }
    .note__point-connector {
      background-color: $note__point-connector__background-color--hover;
    }
  }
  &--active {
    z-index: $note__point__fill__z-index--active;
  }
  &--active &__point__fill {
    background-color: $note__point__fill--active__background-color;
  }
  &--active &__point-connector {
    background-color: $note__point-connector--active__background-color;
    z-index: $note__point-connector--z-index--active;
  }
}
