@import '../../../../styles/palette';

$sequencer__background-color: $neutral-2;

.sequencer {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: $sequencer__background-color;
  overflow: hidden;
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    &__wrapper {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}
