@import '../../../../styles/constants';
@import '../../../../styles/palette';

.track-sequence {
  display: flex;
  height: 84px;
  padding: $margin-s;
  background-color: $emerald-2;
  border-right: 2px solid $emerald-0;
  overflow: hidden;
  position: relative;
  &--active {
    background-color: $almostwhite;
    border-color: white;
  }
  &:hover:not(:active):not(.track-sequence--active) {
    background-color: $emerald-1;
  }
  &:active {
    background-color: $almostwhite;
  }
}
