@import '../../../../styles/constants';
@import '../../../../styles/palette';

.track-sequence {
  display: flex;
  height: 84px;
  position: absolute;
  top: 0;
  left: 0;
  padding: $margin-s;
  background-color: $emerald-2;
  border-right: 2px solid $emerald-0;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.1s ease;
  &--active {
    background-color: $almostwhite;
    border-color: white;
  }
  &:hover:not(:active) {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}
