@import '../../styles/palette';

$zen-sequence-toolbar__height: 56px;
$zen-sequence-toolbar__padding: 16px;
$zen-sequence-toolbar__background-color: $zen-neutral-2;
$zen-sequence-toolbar__border: none;
$zen-sequence-toolbar__button__height: 36px;
$zen-sequence-toolbar__button__padding: 16px;
$zen-sequence-toolbar__button__color: $zen-neutral-10;
$zen-sequence-toolbar__button__border-radius: 2px;
$zen-sequence-toolbar__button--active__color: $zen-neutral-2;
$zen-sequence-toolbar__button--active__background-color: $zen-neutral-10;

.zen-sequence-toolbar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: $zen-sequence-toolbar__height;
  padding-left: $zen-sequence-toolbar__padding;
  padding-right: $zen-sequence-toolbar__padding;
  background-color: $zen-sequence-toolbar__background-color;
  border-bottom: $zen-sequence-toolbar__border;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  z-index: 100;
  &__right {
    display: flex;
    align-items: center;
    height: $zen-sequence-toolbar__height;
    margin-left: auto;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $zen-sequence-toolbar__button__height;
    padding-left: $zen-sequence-toolbar__button__padding;
    padding-right: $zen-sequence-toolbar__button__padding;
    color: $zen-sequence-toolbar__button__color;
    border-radius: $zen-sequence-toolbar__button__border-radius;
    cursor: pointer;
    &--active {
      color: $zen-sequence-toolbar__button--active__color;
      background-color: $zen-sequence-toolbar__button--active__background-color;
    }
  }
}
