@import '../../../../styles/constants';
@import '../../../../styles/palette';

$dropdown-list-item__color: $color-inverted;
$dropdown-list-item__height: 48px;
$dropdown-list-item__padding: $margin-m;
$dropdown-list-item--active__background-color: $accent-3;
$dropdown-list-item--active__color: $accent-9;
$dropdown-list-item--hover__background-color: $neutral-8;

.dropdown-list-item {
  display: flex;
  align-items: center;
  height: $dropdown-list-item__height;
  padding-left: $dropdown-list-item__padding;
  padding-right: $dropdown-list-item__padding;
  color: $dropdown-list-item__color;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
  &--active {
    color: $dropdown-list-item--active__color;
    background-color: $dropdown-list-item--active__background-color;
  }
  &:hover:not(.dropdown-list-item--active) {
    background-color: $dropdown-list-item--hover__background-color;
  }
}
