@import '../../../../styles/constants';
@import '../../../../styles/palette';

$toolbar__height: 56px;
$toolbar__padding: $margin-s;
$toolbar__background-color--alternate: $neutral-9;
$toolbar__border: none;
$toolbar__z-index: 100;
$toolbar--top__box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
$toolbar--bottom__box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.25);
$toolbar__item__spacing: $margin-s;
$toolbar__button__height: 36px;
$toolbar__button__padding: 16px;
$toolbar__button__color: $neutral-10;
$toolbar__button__border-radius: 2px;
$toolbar__button--active__color: $neutral-3;
$toolbar__button--active__background-color: $neutral-10;
$toolbar__icon__fill--alternate: $neutral-3;
$toolbar__icon-button__background--active--alternate: rgba(0, 0, 0, 0.25);

.toolbar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: $toolbar__height;
  position: relative;
  padding-left: $toolbar__padding;
  padding-right: $toolbar__padding;
  background-color: $almostwhite;
  border-bottom: $toolbar__border;
  // z-index: $toolbar__z-index;
  .icon-button + .icon-button {
    margin-left: $toolbar__item__spacing;
  }
  &__left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: $toolbar__height;
  }
  &__right {
    display: flex;
    align-items: center;
    height: $toolbar__height;
    margin-left: auto;
  }
  &--alternate {
    background-color: $toolbar__background-color--alternate;
    .icon * {
      fill: $toolbar__icon__fill--alternate;
    }
    .icon-button:not(.icon-button--disabled):active .icon-button__background {
      background-color: $toolbar__icon-button__background--active--alternate;
    }
  }
}
