@import '../../styles/palette';

$zen-slots__background-color: $zen-neutral-2;
$zen-slots__row--c__divider-color: $zen-neutral-4;
$zen-slots__slot__background-color: $zen-neutral-3;
$zen-slots__slot__shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
$zen-slots__section__background-color--even: $zen-neutral-3;
$zen-slots__section__slot__background-color: $zen-neutral-2;

.zen-slots {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  &__row {
    display: flex;
    flex-shrink: 0;
    &--c .zen-slots__section:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $zen-slots__row--c__divider-color;
    }
  }
  &__section {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    width: 320px;
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
    &:nth-child(2n) {
      background-color: $zen-slots__section__background-color--even;
      .zen-slots__slot {
        background-color: $zen-slots__section__slot__background-color;
      }
    }
  }
  &__slot {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    background-color: $zen-slots__slot__background-color;
    box-shadow: $zen-slots__slot__shadow;
    border-radius: 20%;
  }
}
