$neutral-base: #907080;
$neutral-0: black;
$neutral-1: darken($neutral-base, 45.00%);
$neutral-2: darken($neutral-base, 33.75%);
$neutral-3: darken($neutral-base, 22.50%);
$neutral-4: darken($neutral-base, 11.25%);
$neutral-5: lighten($neutral-base, 00.00%);
$neutral-6: lighten($neutral-base, 11.25%);
$neutral-7: lighten($neutral-base, 22.50%);
$neutral-8: lighten($neutral-base, 33.75%);
$neutral-9: lighten($neutral-base, 45.00%);
$neutral-10: white;

$primary-base: #FC8003;
$primary-1: darken($primary-base, 45.00%);
$primary-2: darken($primary-base, 33.75%);
$primary-3: darken($primary-base, 22.50%);
$primary-4: darken($primary-base, 11.25%);
$primary-5: lighten($primary-base, 00.00%);
$primary-6: lighten($primary-base, 11.25%);
$primary-7: lighten($primary-base, 22.50%);
$primary-8: lighten($primary-base, 33.75%);
$primary-9: lighten($primary-base, 45.00%);

$accent-base: #41BEBC;
$accent-1: darken($accent-base, 45.00%);
$accent-2: darken($accent-base, 33.75%);
$accent-3: darken($accent-base, 22.50%);
$accent-4: darken($accent-base, 11.25%);
$accent-5: lighten($accent-base, 00.00%);
$accent-6: lighten($accent-base, 11.25%);
$accent-7: lighten($accent-base, 22.50%);
$accent-8: lighten($accent-base, 33.75%);
$accent-9: lighten($accent-base, 45.00%);

$error-base: #DF5920;
$error-1: darken($error-base, 45.00%);
$error-2: darken($error-base, 33.75%);
$error-3: darken($error-base, 22.50%);
$error-4: darken($error-base, 11.25%);
$error-5: lighten($error-base, 00.00%);
$error-6: lighten($error-base, 11.25%);
$error-7: lighten($error-base, 22.50%);
$error-8: lighten($error-base, 33.75%);
$error-9: lighten($error-base, 45.00%);

$success-base: #20DF59;
$success-1: darken($success-base, 45.00%);
$success-2: darken($success-base, 33.75%);
$success-3: darken($success-base, 22.50%);
$success-4: darken($success-base, 11.25%);
$success-5: lighten($success-base, 00.00%);
$success-6: lighten($success-base, 11.25%);
$success-7: lighten($success-base, 22.50%);
$success-8: lighten($success-base, 33.75%);
$success-9: lighten($success-base, 45.00%);

$emerald-0: #7BFFF2;
$emerald-1: #6AFFB7;
$emerald-2: #2BEAA4;
$emerald-3: #29965A;
$emerald-4: #2A6043;
$danger: #FE7C7C;
$almostblack: #1F1F1F;
$almostwhite: #EBEBEB;
$subtext: #5C5C5C;
$midgray: #A3A3A3;
$ashgray: #E0E0E0;

$color: $almostblack;
$color-inverted: white;
$color-primary: $emerald-2;
$color-accent: $danger;

$background-color: $neutral-2;
$background-color-primary: $primary-6;
$background-color-primary: $accent-6;
