@import '../../../../styles/constants';
@import '../../../../styles/palette';

$track__spacing: $margin-s;
$track__background-color: $neutral-4;
$track__border-radius: 2px;
$track__box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
$track__header__width: 84px;
$track__header__padding: $margin-xs $margin-s;
$track__header__color: $neutral-3;
$track__header__background-color: $neutral-8;
$track__header__font-size: 0.75em;
$track__sequences__height: 84px;
$track__sequences__padding--vertical: 0;

.track {
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
    margin-bottom: $track__spacing;
  background-color: $track__background-color;
  border-radius: $track__border-radius;
  box-shadow: $track__box-shadow;
  overflow: hidden;
  cursor: pointer;
  &__header {
    width: $track__header__width;
    padding: $track__header__padding;
    color: $track__header__color;
    background-color: $track__header__background-color;
    font-size: $track__header__font-size;
  }
  &__sequences {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    height: $track__sequences__height;
    position: relative;
    padding-top: $track__sequences__padding--vertical;
    padding-bottom: $track__sequences__padding--vertical;
  }
}
