@import '../../../../styles/constants';
@import '../../../../styles/palette';

$ruler__height: 42px;
$ruler__margin-bottom: $margin-s;
$ruler__time-offset: 84px;
$ruler__background-color: $neutral-3;
$ruler__border-radius: 2px;
$ruler__box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
$ruler__body__margin-right: $margin-s;
$ruler__body__header__width: 84px;
$ruler__body__header__background-color: $neutral-8;
$ruler__body__measures__measure__width: 64px;
$ruler__body__measures__measure__padding: 0 4px;
$ruler__body__measures__measure__color: $neutral-5;
$ruler__body__measures__measure__border-left: 1px solid $neutral-5;
$ruler__body__measures__measure__font-size: 0.75em;
$ruler__body__measures__measure__eighth__width: 1px;
$ruler__body__measures__measure__eighth__height: 8px;
$ruler__body__measures__measure__eighth__background-color: $neutral-4;
$ruler__song-length-button__width: 84px;
$ruler__song-length-button__height: 42px;
$ruler__song-length-button__border: 1px solid $neutral-3;
$ruler__song-length-button__border-radius: 2px;
$ruler__song-length-button__side__color: $neutral-3;
$ruler__song-length-button__side__color--hover: $neutral-2;
$ruler__song-length-button__side__background-color--hover: $neutral-3;

.ruler {
  display: flex;
  height: $ruler__height;
  margin-bottom: $ruler__margin-bottom;
  &__body {
    display: flex;
    background-color: $ruler__background-color;
    box-shadow: $ruler__box-shadow;
    border-radius: $ruler__border-radius;
    margin-right: $ruler__body__margin-right;
    &__header {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: $ruler__body__header__width;
      background-color: $ruler__body__header__background-color;
      border-top-left-radius: $ruler__border-radius;
      border-bottom-left-radius: $ruler__border-radius;
    }
    &__measures {
      width: 100%;
      position: relative;
      cursor: pointer;
      &__measure {
        display: flex;
        align-items: flex-end;
        width: $ruler__body__measures__measure__width;
        padding: $ruler__body__measures__measure__padding;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: $ruler__body__measures__measure__width;
        color: $ruler__body__measures__measure__color;
        border-left: $ruler__body__measures__measure__border-left;
        font-size: $ruler__body__measures__measure__font-size;
        pointer-events: none;
        &__eighth {
          width: $ruler__body__measures__measure__eighth__width;
          height: $ruler__body__measures__measure__eighth__height;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $ruler__body__measures__measure__eighth__background-color;
        }
      }
    }
  }
  &__song-length-button {
    display: flex;
    width: $ruler__song-length-button__width;
    height: $ruler__song-length-button__height;
    border: $ruler__song-length-button__border;
    border-radius: $ruler__song-length-button__border-radius;
    &__side {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-basis: 50%;
      flex-shrink: 0;
      transition: background-color 0.25s ease;
      cursor: pointer;
      svg * {
        fill: $ruler__song-length-button__side__color;
        transition: fill 0.25s ease;
      }
      &:hover {
        background-color: $ruler__song-length-button__side__background-color--hover;
        svg * {
          fill: $ruler__song-length-button__side__color--hover;
        }
      }
    }
  }
}
