@import '../../../../styles/palette';

.notes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  &--grab {
    cursor: grab;
  }
  &__note--ghost {
    opacity: 0.4;
  }
}
