@import '../../../../styles/palette';

$slot__size: 40px;
$slot__fill__size: 12px;
$slot__fill__background-color: $neutral-3;
$slot__fill__border-radius: 20%;
$slot__fill__shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
$slot--inverted__fill__background-color: $neutral-2;

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: $slot__size;
  height: $slot__size;
  position: relative;
  &__fill {
    width: $slot__fill__size;
    height: $slot__fill__size;
    background-color: $slot__fill__background-color;
    border-radius: $slot__fill__border-radius;
    box-shadow: $slot__fill__shadow;
  }
  &--inverted {
    .slot__fill {
      background-color: $slot--inverted__fill__background-color;
    }
  }
}
