@import '../../../../styles/constants';
@import '../../../../styles/palette';

$tracks__background-color: $neutral-2;
$tracks__padding: $margin-m;

.tracks {
  align-items: flex-start;
  background-color: $tracks__background-color;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
  padding: $tracks__padding;
}
