@import '../../../../styles/constants';
@import '../../../../styles/palette';

.track-header {
  align-items: center;
  align-self: flex-start;
  background-color: $emerald-0;
  color: $almostblack;
  display: flex;
  font-weight: 800;
  height: 28px;
  margin-bottom: $margin-s;
  padding-left: $margin-s;
  padding-right: $margin-s;
  transform: scale(1);
  transition: transform 0.2s ease;
  &:hover:not(:active) {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.9);
  }
}
