@import '../../../../styles/constants';
@import '../../../../styles/palette';

.track-header {
  color: $almostblack;
  display: flex;
  margin-bottom: $margin-s;
  &__title {
    align-items: center;
    background-color: $emerald-0;
    display: flex;
    font-weight: 800;
    height: 28px;
    padding-left: $margin-s;
    padding-right: $margin-s;
  }
}
