@import '../../../../styles/constants';
@import '../../../../styles/palette';


.add-sequence-button {
  align-items: center;
  border: 1px solid $emerald-2;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  opacity: 0;
  width: 64px;
  svg * {
    fill: $emerald-2;
  }
  &:hover {
    opacity: 1;
  }
}
