@import '../../../../styles/constants';
@import '../../../../styles/palette';

.ruler {
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 35px;
  margin-bottom: $margin-m;
  &__measures {
    position: relative;
    width: 100%;
  }
}
