@import '../../../../styles/palette';

.grid {
  position: relative;
  overflow-x: scroll;
  overflow-y: visible;
  &__wrapper {
    height: 100%;
    position: relative;
    overflow-x: visible;
  }
}
