@import '../../styles/palette';

$zen-keys__width: 40px;
$zen-keys__key__height: 40px;
$zen-keys__key__font-size: 1.0em;
$zen-keys__key__font-weight: 600;
$zen-keys__key--ebony__color: $zen-neutral-7;
$zen-keys__key--ebony__background-color: $zen-neutral-3;
$zen-keys__key--ivory__color: $zen-neutral-3;
$zen-keys__key--ivory__background-color: $zen-neutral-7;
$zen-keys__key--ivory__divider-color: $zen-neutral-6;

.zen-keys {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: $zen-keys__width;
  overflow: hidden;
  &__key--ebony,
  &__key--ivory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: $zen-keys__key__height;
    position: relative;
    font-size: $zen-keys__key__font-size;
    font-weight: $zen-keys__key__font-weight;
    cursor: pointer;
  }
  &__key--ebony {
    color: $zen-keys__key--ebony__color;
    background-color: $zen-keys__key--ebony__background-color;
  }
  &__key--ivory {
    color: $zen-keys__key--ivory__color;
    background-color: $zen-keys__key--ivory__background-color;
  }
  &__key--ivory--c, &__key--ivory--f {
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $zen-keys__key--ivory__divider-color;
    }
  }
}
