.vfx-layer {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(100, 100, 100, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23777777' fill-opacity='0.10' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  bottom: -100px;
  left: -50px;
  pointer-events: none;
  position: absolute;
  right: -50px;
  top: -100px;
  z-index: 999;
}
