@import '../../../../styles/constants';
@import '../../../../styles/palette';

$sequence__height: 96px;
$sequence__padding: $margin-s;
$sequence__background-color: $primary-5;
$sequence__background-color--active: $accent-5;
$sequence__background-color--hover: $primary-6;
$sequence__border: 1px solid $primary-6;
$sequence__border-color--active: $accent-6;
$sequence__border-color--hover: $primary-8;
$sequence__note__background-color: $primary-8;
$sequence__note__background-color--active: $accent-8;

.sequence {
  display: flex;
  height: $sequence__height;
  position: absolute;
  top: 0;
  left: 0;
  padding: $sequence__padding;
  background-color: $sequence__background-color;
  border-right: $sequence__border;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;
  overflow: hidden;
  &__note {
    width: 2px;
    height: 2px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: $sequence__note__background-color;
  }
  &--active {
    background-color: $sequence__background-color--active;
    border-color: $sequence__border-color--active;
    .sequence__note {
      background-color: $sequence__note__background-color--active;
    }
  }
  &:hover:not(.sequence--active) {
    background-color: $sequence__background-color--hover;
    border-color: $sequence__border-color--hover;
  }
}
