@import '../../styles/palette';

$zen-sequence-grid__background-color: $zen-neutral-2;
$zen-sequence-grid__row--c__divider-color: $zen-neutral-4;
$zen-sequence-grid__slot__background-color: $zen-neutral-3;
$zen-sequence-grid__slot__shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
$zen-sequence-grid__section__background-color--even: $zen-neutral-3;
$zen-sequence-grid__section__slot__background-color: $zen-neutral-2;

.zen-sequence-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  background-color: $zen-sequence-grid__background-color;
  overflow-x: scroll;
  overflow-y: visible;
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
  }
  &__row {
    display: flex;
    flex-shrink: 0;
    &--c .zen-sequence-grid__section:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $zen-sequence-grid__row--c__divider-color;
    }
  }
  &__section {
    display: flex;
    flex-shrink: 0;
    position: relative;
    &:nth-child(2n) {
      background-color: $zen-sequence-grid__section__background-color--even;
      .zen-sequence-grid__slot__fill {
        background-color: $zen-sequence-grid__section__slot__background-color;
      }
    }
  }
  &__slot {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    padding: 14px;
  }
  &__slot__fill {
    display: flex;
    flex-grow: 1;
    background-color: $zen-sequence-grid__slot__background-color;
    box-shadow: $zen-sequence-grid__slot__shadow;
    border-radius: 20%;
  }
}
