@import '../../../../styles/palette';

.grid {
  overflow-x: scroll;
  overflow-y: visible;
  padding-left: 80px;
  position: relative;
  &__wrapper {
    height: 100%;
    overflow-x: visible;
    position: relative;
  }
}
