@import '../../../../styles/palette';

$slot-section__background-color: $neutral-2;
$slot-section__background-color--even: $neutral-3;

.slot-section {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  position: relative;
  background-color: $slot-section__background-color;
  &:nth-child(2n) {
    background-color: $slot-section__background-color--even;
  }
}
