@import '../../../../styles/constants';
@import '../../../../styles/palette';

.add-sequence-button {
  align-items: center;
  background-color: transparentize($emerald-2, 0.5);
  border: 1px solid $emerald-2;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 84px;
  justify-content: center;
  position: absolute;
  width: 64px;
  &__plus__horizontal,
  &__plus__vertical {
    background-color: $emerald-2;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__plus__horizontal {
    height: 1px;
    width: 9px;
  }
  &__plus__vertical {
    height: 9px;
    width: 1px;
  }
  &:hover:not(:active) {
    background-color: transparentize($emerald-2, 0.4);
  }
  &:active {
    background-color: transparentize($emerald-2, 0.6);
  }
}
