@import '../../../../styles/palette';

$toggle-button__height: 36px;
$toggle-button__padding: 16px;
$toggle-button__color: $neutral-10;
$toggle-button__border-radius: 2px;
$toggle-button--active__color: $neutral-2;
$toggle-button--active__background-color: $neutral-10;

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $toggle-button__height;
  padding-left: $toggle-button__padding;
  padding-right: $toggle-button__padding;
  color: $toggle-button__color;
  text-transform: uppercase;
  border-radius: $toggle-button__border-radius;
  cursor: pointer;
  &--active {
    color: $toggle-button--active__color;
    background-color: $toggle-button--active__background-color;
  }
}
