@import '../../../../styles/constants';
@import '../../../../styles/palette';

.add-track-button {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 36px;
  justify-content: center;
  position: relative;
  transform: scale(1.0);
  transition: transform 0.2s ease;
  width: 36px;
  &__plus__horizontal,
  &__plus__vertical {
    background-color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__plus__horizontal {
    height: 1px;
    width: 9px;
  }
  &__plus__vertical {
    height: 9px;
    width: 1px;
  }
  &:hover:not(:active) {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.6);
  }
  &:active {
    transform: scale(0.9);
  }
}
