@import '../../../../styles/palette';

$icon-button__size: 40px;
$icon-button__fill--active: $neutral-3;
$icon-button__background__height: 100%;

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: $icon-button__size;
  height: $icon-button__size;
  position: relative;
  cursor: pointer;
  &__background {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    height: $icon-button__background__height;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg * {
      fill: $almostblack;
    }
  }
  &--active {
    .icon-button__background {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
  &--disabled {
    cursor: not-allowed;
    .icon-button__icon {
      opacity: 0.5;
    }
  }
  &:not(.icon-button--disabled):active {
    .icon-button__background {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}
