@import '../../../../styles/palette';

$timeline__background-color: $neutral-8;
$timeline__box-shadow:
  -1px 0 3px $neutral-8,
  1px 0 3px $neutral-8;

.timeline {
  display: block;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $timeline__background-color;
  box-shadow: $timeline__box-shadow;
  opacity: 0.25;
  pointer-events: none;
}
