@import '../../../../styles/constants';
@import '../../../../styles/palette';

.song-toolbar {
  margin-left: $margin-m;
  margin-right: $margin-m;
  margin-bottom: 14px;
  &__playback-buttons {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-left: -$margin-s;
    padding-left: $margin-m;
    padding-right: $margin-m;
  }
}
