@import '../../../../styles/constants';
@import '../../../../styles/palette';

.song-toolbar {
  border-top: 1px solid $midgray;
  bottom: 14px;
  box-shadow: 2px 2px 0 transparentize($almostwhite, 0.5);
  // display: none;
  position: absolute;
  right: $margin-m;
  left: $margin-m;
  &__playback-buttons {
    cursor: pointer;
    height: 28px;
    width: 28px;
    position: absolute;
    right: 0;
    top: -33px;
    &__play-pause, &__stop {
      background-color: white;
      box-shadow: 2px 2px 0 transparentize(white, 0.5);
      height: 28px;
      left: 0;
      margin: 0!important;
      position: absolute;
      top: 0;
      width: 28px;
    }
  }
  &__song-info {
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 0 transparentize(white, 0.5);
    cursor: pointer;
    display: flex;
    height: 28px;
    padding-left: $margin-s;
    padding-right: $margin-s;
    position: absolute;
    right: 33px;
    top: -33px;
    &__time {
      font-weight: 600;
      margin-right: $margin-xs;
    }
    &__bpm {
      color: $midgray;
    }
  }
}
