@import '../../../../styles/palette';

$position-marker__background-color: $accent-5;
$position-marker__box-shadow:
  -1px 0 3px $accent-5,
  1px 0 3px $accent-5;

.position-marker {
  display: block;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $position-marker__background-color;
  box-shadow: $position-marker__box-shadow;
  opacity: 0.25;
  pointer-events: none;
}
