@import '../../../../styles/constants';
@import '../../../../styles/palette';

.ruler-measure {
  align-items: flex-end;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  font-size: 14;
  left: 0;
  padding: 0 4px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 64px;
}
