@import '../../styles/palette';

.zen-sequence {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  &__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
  }
}
