@import '../../../../styles/constants';
@import '../../../../styles/palette';

.sequencer {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  padding-left: $margin-m;
  padding-right: $margin-m;
  position: relative;
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    &__wrapper {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      padding-top: $margin-m;
      padding-bottom: 30px + 14px + 56px;
    }
  }
}
