@import '../../../../styles/constants';
@import '../../../../styles/palette';

.track {
  align-items: stretch;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: $margin-m;
  // overflow: hidden;
  &__sequences {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    height: 84px;
    position: relative;
  }
}
