@import '../../../../styles/palette';

$fence__background-color: transparentize($accent-5, 0.75);
$fence__border: 2px solid $accent-5;
$fence__border-radius: 4px;

.fence {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $fence__background-color;
  border: $fence__border;
  border-radius: $fence__border-radius;
  pointer-events: none;
}
