@import '../../../../styles/constants';
@import '../../../../styles/palette';

$context-menu__z-index: 500;
$context-menu__background-color: $neutral-8;
$context-menu__box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
$context-menu__popup__width: 202px;
$context-menu__popup__border-radius: 2px;
$context-menu__popup__list__padding: $margin-s;
$context-menu__popup__item__height: 48px;
$context-menu__popup__item__padding: $margin-s;
$context-menu__popup__item__color: $color-inverted;
$context-menu__popup__item__background-color--hover: $neutral-7;
$context-menu__popup__item__icon__margin-right: $margin-s;

.context-menu {
  position: relative;
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $context-menu__z-index;
    overflow: hidden;
  }
  &__popup {
    width: $context-menu__popup__width;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $context-menu__z-index;
    background-color: $context-menu__background-color;
    border-radius: $context-menu__popup__border-radius;
    box-shadow: $context-menu__box-shadow;
    overflow: hidden;
    &__list {
      padding-top: $context-menu__popup__list__padding;
      padding-bottom: $context-menu__popup__list__padding;
    }
    &__item {
      display: flex;
      align-items: center;
      height: $context-menu__popup__item__height;
      padding-left: $context-menu__popup__item__padding;
      padding-right: $context-menu__popup__item__padding;
      color: $context-menu__popup__item__color;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      overflow: hidden;
      &__icon {
        margin-right: $context-menu__popup__item__icon__margin-right;
        svg * {
          fill: $context-menu__popup__item__color;
        }
      }
      &:hover {
        background-color: $context-menu__popup__item__background-color--hover;
      }
    }
  }
}
